form#changepassword(name="changepassword",method="POST")
  h3 Change Password
  label
    | Username:
    span.small current username
  input(type='text',name='username')
  label
    | Password:
    span.small current password
  input(type='password',name='password')
  label
    | New Password:
    span.small new password
  input(type='password',name='newpassword')
  button(type='submit') Change Password