h4 Top 25 (by games won)
table#stylized2.table.table-striped.table-hover.table-condensed(border=0)
  tr
    th Username
    th Games Played
    th Games Won
    th Sets Correct %
  if scores
    for score in scores
      tr
        td #{score.username}
        td #{score.played}
        td #{score.won}
        td #{score.correct}