doctype 5
html
  head
    link(rel='stylesheet', href='/static/index.css')
    title ECE361 Set Game Project
  body
    div#stylized.myform
      form#form(name="register",method="POST")
        h1 ECE361 Set Game
          img(src='/static/Cooper-Union-Logo.gif')
        p Andrew, Jason, Jordan, Nick, Victor
        label
          | Username:
          span.small hey
        input#name(type='text',name='username')
        label
          | Password:
          span.small boo
        input#email(type='password',name='password')
        button(type='submit') Submit
        if (notify != "")
          div(class="notify")= notify
        if (error != "")
          div(class="error")= error
        div.spacer