doctype 5
html
  head
    link(rel='stylesheet', href='/static/index.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
    title ECE361 Set Game Project
  body
    div.row
      div.span6
        div#stylized.myform
          h3 ECE361 Set Game
            img(src='/static/Cooper-Union-Logo.gif')
          p Andrew, Jason, Jordan, Nick, Victor
          a(href='/static/setGameJAVNJ.jar')
            button.btn.btn-inverse(type='submit') Download
          if (notify != "")
            div(class="notify")= notify
          if (error != "")
            div(class="error")= error
          include register
          include changepassword
      div.span6			
        include highscores
     
