doctype 5
html
  head
    link(rel='stylesheet', href='/static/index.css')
    title ECE361 Set Game Project
  body
    div#stylized.myform
      h1 ECE361 Set Game
        img(src='/static/Cooper-Union-Logo.gif')
      p Andrew, Jason, Jordan, Nick, Victor
      if (notify != "")
        div(class="notify")= notify
      if (error != "")
        div(class="error")= error
      include register
      include changepassword
      include highscores
